[user]
	name = __GIT_NAME__
	email = __GIT_EMAIL__

[color]
	ui = true

[color "branch"]
	current = green
	local = white
	remote = red

[color "diff"]
	meta = cyan
	frag = yellow
	old = red
	new = green
	whitespace = red reverse

[color "status"]
	added = green
	changed = yellow
	untracked = red

[color]
	interactive = auto

[core]
	autocrlf = input
	editor = vim
	filemode = true
	whitespace = fix,trailing-space,space-before-tab,-indent-with-non-tab,cr-at-eol

[alias]
	; list aliases
	alias = !git config --get-regexp alias | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort

[branch "master"]
	remote = origin
	merge = refs/heads/master
