[user]
	name = "__GIT_NAME__"
	email = __GIT_EMAIL__
        editor = vim

[core]
	autocrlf = input
	editor = vim
	filemode = true
	whitespace = fix,trailing-space,space-before-tab,-indent-with-non-tab,cr-at-eol

[alias]
	; list aliases
	alias = !git config --get-regexp alias | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort

        ; Common
        co = checkout
        ci = commit
        st = status -sb
        br = branch
        mg = merge --no-ff
        lg = git log --graph --pretty=format:'%C(yellow)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)%an<%ae>%Creset' --abbrev-commit --date=iso --branches

        ; Git flow support
        hotfix = flow hotfix
        feature = flow feature
        release = flow release
            
        ; Undo
        amend = commit --amend -C HEAD
        undo = reset --soft HEAD^
        unstage = reset HEAD

[diff]
	tool = vimdiff

[branch "master"]
	remote = origin
	merge = refs/heads/master

[color]
	ui = true
	interactive = auto

[color "branch"]
	current = green
	local = white
	remote = red

[color "diff"]
	meta = cyan
	frag = yellow
	old = red
	new = green
	whitespace = red reverse

[color "status"]
	added = green
	changed = yellow
	untracked = red
