[user]
	name = Kirill Pavlov
	email = kirill.pavlov@phystech.edu

[color]
	ui = true

[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

[color]
	interactive = auto

[core]
	autocrlf = input
	editor = vim
	filemode = true
	whitespace = fix,trailing-space,space-before-tab,-indent-with-non-tab,cr-at-eol